{% comment %} And set up basic html structure file.
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- leaflet CSS -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.8.0/dist/leaflet.css"
   integrity="sha512-hoalWLoI8r4UszCkZ5kL8vayOGVae1oxXe/2A4AO6J9+580uKHDO3JdHb7NzwwzK5xr/Fs0W40kiNHxM9vyTtQ=="
   crossorigin=""/>

   <!-- Make sure you put this AFTER Leaflet's CSS -->
 <script src="https://unpkg.com/leaflet@1.8.0/dist/leaflet.js"
 integrity="sha512-BB3hKbKWOc9Ez/TAwyWxNXeoV9c1v6FIeYiBieIWkpLjauysF18NzgR1MBNBXf8/KABdlkX68nAhlwcDFLGPCQ=="
 crossorigin=""></script>


    
    
    <title>Banks Map</title>
    <style>
        #map {
            height: 97vh;
        }
     </style>
    
</head>
<body>
    <div id="map"></div>
    <script>
        var map = L.map('map').setView([31.505, 74.09], 5);
        var OpenStreetMap_Mapnik = L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
    maxZoom: 19,
    attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
}).addTo(map);
"{% for item in banks %}"   
            var marker = L.marker(["{{item.lng}}","{{item.lat}}"]).bindPopup("<strong>{{item.name}}</strong><br/>{{item.code}}").addTo(map).on('popupopen', function (e) {
                    // console.log(e.popup.getContent())
            });;
"{% endfor %}"
    </script>

        
</body>
</html> {% endcomment %}



<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Index</title>
    <link rel="stylesheet" href="../static/css/style.css" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />
    <!-- leaflet CSS -->
    <link
      rel="stylesheet"
      href="https://unpkg.com/leaflet@1.8.0/dist/leaflet.css"
      integrity="sha512-hoalWLoI8r4UszCkZ5kL8vayOGVae1oxXe/2A4AO6J9+580uKHDO3JdHb7NzwwzK5xr/Fs0W40kiNHxM9vyTtQ=="
      crossorigin=""
    />
    <!-- Make sure you put this AFTER Leaflet's CSS -->
    <script
      src="https://unpkg.com/leaflet@1.8.0/dist/leaflet.js"
      integrity="sha512-BB3hKbKWOc9Ez/TAwyWxNXeoV9c1v6FIeYiBieIWkpLjauysF18NzgR1MBNBXf8/KABdlkX68nAhlwcDFLGPCQ=="
      crossorigin=""
    ></script>
    <style>
      #map {
        height: 80vh;
        width: 40%;
        margin-left: auto;
        margin-right: 0;
        border: 1px solid black;
        margin: 4px;
      }
      .left {
        margin-right: auto;
        margin-left: 0;
        width: 40%;
        border: 1px solid black;
      }
    </style>
  </head>
  <body>
    <div class="row">
    <div class="col-6">
        <form method="POST" class="post-form " action="/emp">
            {% csrf_token %}
            <div class="container">
              <br />
              <div class="form-group row">
                <label class="col-sm-1 col-form-label"></label>
                <div class="col-sm-4">
                  <h3>Enter Details</h3>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-sm-2 col-form-label">Employee Id:</label>
                <div class="col-sm-4">{{ form.eid }}</div>
              </div>
              <div class="form-group row">
                <label class="col-sm-2 col-form-label">Employee Name:</label>
                <div class="col-sm-4" id="lat">{{ form.ename }}</div>
              </div>
              <div class="form-group row">
                <label class="col-sm-2 col-form-label">Employee Email:</label>
                <div class="col-sm-4">{{ form.eemail }}</div>
              </div>
              <div class="form-group row">
                <label class="col-sm-2 col-form-label">Employee Contact:</label>
                <div class="col-sm-4">{{ form.econtact }}</div>
              </div>
              <div class="form-group row">
                <label class="col-sm-2 col-form-label">Location Latitude:</label>
                <div class="col-sm-4">{{ form.lat }}</div>
              </div>
              <div class="form-group row">
                <label class="col-sm-2 col-form-label">Location Longitude:</label>
                <div class="col-sm-4">{{ form.lng }}</div>
              </div>
              <div class="form-group row">
                <label class="col-sm-1 col-form-label"></label>
                <div class="col-sm-4">
                  <button type="submit" class="btn btn-primary">Submit</button>
                </div>
              </div>
            </div>
          </form>
        </div>
        <div id="map" class="col-5"></div>
    </div>
        <script>
          var map = L.map("map").setView([31.505, 74.09], 5);
          var OpenStreetMap_Mapnik = L.tileLayer(
            "https://tile.openstreetmap.org/{z}/{x}/{y}.png",
            {
              maxZoom: 19,
              attribution:
                '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors',
            }
          ).addTo(map);
    
          var marker = L.marker();
    
    function onMapClick(e) {
        marker
            .setLatLng(e.latlng)
            .addTo(map);
            console.log(e.latlng, 'lat lng');
            document.getElementById('id_lat').value = e.latlng.lat.toFixed(10)
            document.getElementById('id_lng').value = e.latlng.lng.toFixed(10)
    }
    
    map.on('click', onMapClick);
    
          // "{% for item in banks %}"
          //       var marker = L.marker(["{{item.lng}}","{{item.lat}}"]).bindPopup("<strong><input type='text' value={{item.name}}></input></strong><br/>{{item.code}}").addTo(map).on('popupopen', function (e) {
          //               // console.log(e.popup.getContent())
          //       });;
          // "{% endfor %}"
        </script>
      </body>
    </html>
    